@tailwind base;
@tailwind components;
@tailwind utilities;

#v-s {
  width: 1px;
  height: 12px;
  background-color: #3f4146;
  margin: 0 5px;
}

.tooltip:hover .tooltip-item {
  visibility: visible;
}